@inherits LayoutComponentBase

<PageTitle>CodeUs</PageTitle>

<div class="page">
    <main>
        <div class="top-nav">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">CodeUs</a>
            </div>
            @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
        </div>

        <div class="content">
            @Body
        </div>
    </main>
</div>
