.agents-win-color {
    background-color: lightgreen;
}

.spy-wins-color {
    background-color: gray;
}

.game-state-message {
    text-align: center;
}

.player-and-words-container {
    display: flex;
}

.player-list-game {
    flex: 0.15;
    margin: 2% 0 2% 1vw;
    align-self: flex-start;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 1px solid;
    border-radius: 25px;
    min-width: 12vw;
    background-color: lavender;
}

.player-list-guesser {
    text-align: center;
    font-weight: bold;
}

.player-list-guesser-name {
    text-align: center;
    font-family: Brush Script MT, cursive;
    background: linear-gradient(to right, red, black);
    color: chartreuse;
}

.player-list-spymaster {
    text-align: center;
    font-weight: bold;
}

.player-list-spymaster-name {
    /*text-align: center;*/
}

.meeting-button-container {
    margin-top: 2vh;
    margin-bottom: 1vh;
    text-align: center;
}

.meeting-button {
    align-items: center;
    appearance: none;
    background-color: #3EB2FD;
    background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 100px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    font-family: CircularStd,sans-serif;
    font-size: 0.8rem;
    height: auto;
    justify-content: center;
    line-height: 1.5;
    padding: 4px 12px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s,background-position .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

    .meeting-button:active,
    .meeting-button:focus {
        outline: none;
    }

    .meeting-button:hover {
        background-position: -20px -20px;
    }

    .meeting-button:focus:not(:active) {
        box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
    }

.word-container {
    flex: 1;
    padding: 2%;
}

.word {
    text-align: center;
    height: 13vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-style: solid;
    margin-bottom: 10px;
}

.word-agent {
    background-color: aqua;
}

.word-neutral {
    background-color: crimson;
}

.word-spy {
    background-color: black;
    color: white;
}

.word-no-faction {
    background-color: antiquewhite;
}

.guesser-clickable {
    cursor: pointer;
}

.not-clickable {
    pointer-events: none;
}

.word-guessed {
    opacity: 0.4;
}

.game-information {
    margin-right: 1vw;
    padding-bottom: 20px;
    height: 77vh;
    width: 20vw;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 1px solid;
    border-radius: 25px;
    background-color: lavender;
}

.turns-left{
    text-align: center;
    font-weight: bold;
    border-bottom: solid;
    margin-bottom: 1vh;
}

.game-logs{
    text-align: center;
    font-weight: bold;
}

.log{
    text-align: left;
    font-weight: normal;
}

.log-clue {
    background-color: cadetblue;
}

.log-guess {
    background-color: darkgray;
}

.log-name, .log-info {
    font-weight: bold;
}

.log-info-clue {
    color: cornsilk;
}

.log-guess-neutral {
    color: red;
}

.log-guess-agent {
    color: aqua;
}

.log-guess-spy {
    color: black;
}

.voting-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.voting-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.modal-display {
    display: block;
}

.modal-not-display {
    display: none;
}

.modal-content-not-display {
    display: none;
}

.player-flex {
    display: flex;
    margin-bottom: 10px;
    border-style: solid;
}

.player-name-flex {
    flex: 1;
    cursor: pointer;
}

.check-container {
    flex: 0.02;
    background-color: lightgreen;
    padding-left: 10px;
    margin-right: 8px;
}

    .check-container:hover {
        cursor: pointer;
    }

.vote-check {
    display: inline-block;
    transform: rotate(45deg);
    height: 14px;
    width: 7px;
    border-bottom: 5px solid #78b13f;
    border-right: 5px solid #78b13f;
}

.vote-cross {
    flex: 0.02;
    color: red;
    font-size: 16px;
    background-color: bisque;
    padding-left: 5px;
}

    .vote-cross:hover {
        cursor: pointer;
    }

    .vote-cross:after {
        display: inline-block;
        content: "\00d7"; /* This will render the 'X' */
    }

.dont-show-voting-items {
    display: none;
}

.player-voted {
    height: 15px;
    width: 15px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
}

.player-not-voted {
    display: none;
}

.disable-voting {
    pointer-events: none;
    cursor: default;
}

.votes-not-display {
    display: none;
}

.votes-display {
    flex: 1;
}

.action-container {
    margin: auto;
    text-align: center;
}

.clue-form-container {
    width: 45vw;
}

.clue-container {
    width: 10vw;
}

.return-to-lobby-button-container {
    width: 15vw;
}